@{
    ViewBag.Title = "Home Page";
}

<div class="section__content section__content--p30">
    <div class="container-fluid">



        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item">
                    <h2 class="number">1,086</h2>
                    <span class="desc">Consultas</span>
                    <div class="icon">
                        <i class="zmdi zmdi-calendar-note"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item">
                    <h2 class="number">10,368</h2>
                    <span class="desc">Pacientes totales</span>
                    <div class="icon">
                        <i class="zmdi zmdi-account-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item">
                    <h2 class="number">388,688</h2>
                    <span class="desc">Turnos de la semana</span>
                    <div class="icon">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="statistic__item">
                    <h2 class="number">$1,060,386</h2>
                    <span class="desc">Montos pagados</span>
                    <div class="icon">
                        <i class="zmdi zmdi-money"></i>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-6">
                <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                    <div class="au-card-title" style="background-image:url('images/bg-title-01.jpg');">
                        <div class="bg-overlay bg-overlay--blue"></div>
                        <h3>
                            <i class="zmdi zmdi-account-calendar"></i>Turnos para hoy
                        </h3>

                    </div>
                    <div class="au-task js-list-load">

                        <div class="au-task-list js-scrollbar3">
                            <div class="au-task__item au-task__item--danger">
                                <div class="au-task__item-inner">
                                    <h5 class="task">
                                        <a href="#">Meeting about plan for Admin Template 2018</a>
                                    </h5>
                                    <span class="time">10:00 AM</span>
                                </div>
                            </div>
                            <div class="au-task__item au-task__item--warning">
                                <div class="au-task__item-inner">
                                    <h5 class="task">
                                        <a href="#">Create new task for Dashboard</a>
                                    </h5>
                                    <span class="time">11:00 AM</span>
                                </div>
                            </div>
                            <div class="au-task__item au-task__item--primary">
                                <div class="au-task__item-inner">
                                    <h5 class="task">
                                        <a href="#">Meeting about plan for Admin Template 2018</a>
                                    </h5>
                                    <span class="time">02:00 PM</span>
                                </div>
                            </div>
                            <div class="au-task__item au-task__item--success">
                                <div class="au-task__item-inner">
                                    <h5 class="task">
                                        <a href="#">Create new task for Dashboard</a>
                                    </h5>
                                    <span class="time">03:30 PM</span>
                                </div>
                            </div>
                            <div class="au-task__item au-task__item--danger js-load-item">
                                <div class="au-task__item-inner">
                                    <h5 class="task">
                                        <a href="#">Meeting about plan for Admin Template 2018</a>
                                    </h5>
                                    <span class="time">10:00 AM</span>
                                </div>
                            </div>
                            <div class="au-task__item au-task__item--warning js-load-item">
                                <div class="au-task__item-inner">
                                    <h5 class="task">
                                        <a href="#">Create new task for Dashboard</a>
                                    </h5>
                                    <span class="time">11:00 AM</span>
                                </div>
                            </div>
                        </div>
                        <div class="au-task__footer">
                            <button class="au-btn au-btn-load js-load-btn">load more</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <!-- TOP CAMPAIGN-->
                <div class="top-campaign">
                    <h3 class="title-3 m-b-30">Ultimos clientes registrados</h3>
                    <div class="table-responsive">
                        <table class="table table-top-campaign">
                            <tbody>
                                <tr>
                                    <td>1. Australia</td>
                                    <td>$70,261.65</td>
                                </tr>
                                <tr>
                                    <td>2. United Kingdom</td>
                                    <td>$46,399.22</td>
                                </tr>
                                <tr>
                                    <td>3. Turkey</td>
                                    <td>$35,364.90</td>
                                </tr>
                                <tr>
                                    <td>4. Germany</td>
                                    <td>$20,366.96</td>
                                </tr>
                                <tr>
                                    <td>5. France</td>
                                    <td>$10,366.96</td>
                                </tr>
                                <tr>
                                    <td>3. Turkey</td>
                                    <td>$35,364.90</td>
                                </tr>
                                <tr>
                                    <td>4. Germany</td>
                                    <td>$20,366.96</td>
                                </tr>
                                <tr>
                                    <td>5. France</td>
                                    <td>$10,366.96</td>
                                </tr>
                                <tr>
                                    <td>3. Turkey</td>
                                    <td>$35,364.90</td>
                                </tr>
                                <tr>
                                    <td>4. Germany</td>
                                    <td>$20,366.96</td>
                                </tr>
                                <tr>
                                    <td>5. France</td>
                                    <td>$10,366.96</td>
                                </tr>
                                <tr>
                                    <td>4. Germany</td>
                                    <td>$20,366.96</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--  END TOP CAMPAIGN-->
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                </div>
            </div>
        </div>


    </div>
</div>